# Desafio 2

### Obtendo informações importantes acerca do dataset

Vamos utilizar o dataset breast_cancer_data.csv para fazer uma análise exploratória cujo objetivo é responder a alguns questionamentos que surgiram a respeito desse conjunto.

Vamos começar lendo e entendendo nossos dados:

In [2]:
import pandas as pd
import numpy as np

In [3]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class','doctor_name']

data = pd.read_csv('bases/breast_cancer_data.csv',names=colunas)
data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [4]:
# TODO: entendimento básico dos dados - preencha as lacunas no código a fim de obter o resultado desejado

# quantas linhas e quantas colunas existem no dataset?
print('formato: ', data.info(verbose=False), '\n')

# quais os tipos de dados de cada coluna?
print('tipos de dados: ', data.info(),'\n')

# quais as principais estatísticas dos dados numéricos do dataset?
print('principais estatísticas: ', data.describe(), '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Columns: 12 entries, id to doctor_name
dtypes: float64(4), int64(5), object(3)
memory usage: 65.7+ KB
formato:  None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     699 non-null    int64
 1   clump_thickness        698 non-null    float64
 2   cell_size_uniformity   698 non-null    float64
 3   cell_shape_uniformity  699 non-null    int64
 4   marginal_adhesion      699 non-null    int64
 5   single_ep_cell_size    699 non-null    int64
 6   bare_nuclei            697 non-null    object
 7   bland_chromatin        695 non-null    float64
 8   normal_nucleoli        698 non-null    float64
 9   mitoses                699 non-null    int64
 10  class                  699 non-null    object
 11  doctor_name            699 non-null    object
dtypes: float64(4), int64(5), object(3)
memory usage: 65.7+ KB
tipos de dados:  None

principais estatísticas:                   id  clump_thickness  cell_size_uniformity  \
count  6.990000e+02       698.000000            698.000000
mean   1.071704e+06         4.416905              3.137536
std    6.170957e+05         2.817673              3.052575
min    6.163400e+04         1.000000              1.000000
25%    8.706885e+05         2.000000              1.000000
50%    1.171710e+06         4.000000              1.000000
75%    1.238298e+06         6.000000              5.000000
max    1.345435e+07        10.000000             10.000000

       cell_shape_uniformity  marginal_adhesion  single_ep_cell_size  \
count             699.000000         699.000000           699.000000
mean                3.207439           2.793991             3.216023
std                 2.971913           2.843163             2.214300
min                 1.000000           1.000000             1.000000
25%                 1.000000           1.000000             2.000000
50%                 1.000000           1.000000             2.000000
75%                 5.000000           3.500000             4.000000
max                10.000000          10.000000            10.000000

       bland_chromatin  normal_nucleoli     mitoses
count       695.000000       698.000000  699.000000
mean          3.447482         2.868195    1.589413
std           2.441191         3.055647    1.715078
min           1.000000         1.000000    1.000000
25%           2.000000         1.000000    1.000000
50%           3.000000         1.000000    1.000000
75%           5.000000         4.000000    1.000000
max          10.000000        10.000000   10.000000

In [5]:
# TODO: obtendo informações sobre o dataset

# retorne uma Serie que mostre qual a classificação (maligno e benigno) que cada médico deu para cada amostra: 
# Exemplo de retorno
# class      doctor_name
# benign   Dr. Doe        127
#          Dr. Lee        121
#          Dr. Smith      102
#          Dr. Wong       108

# Código: 
classificacao = data[['class', 'doctor_name', 'id']]
classificacao

         class doctor_name       id
0       benign     Dr. Doe  1000025
1       benign   Dr. Smith  1002945
2       benign     Dr. Lee  1015425
3       benign   Dr. Smith  1016277
4       benign    Dr. Wong  1017023
..         ...         ...      ...
694     benign     Dr. Lee   776715
695     benign   Dr. Smith   841769
696  malignant     Dr. Lee   888820
697  malignant     Dr. Lee   897471
698  malignant    Dr. Wong   897471

[699 rows x 3 columns]

In [12]:
# TODO: obtendo informações sobre o dataset

# Use o método select_dtypes() para selecionar apenas colunas do tipo float64 e int64. Armazene na variável data_num
data_num = data.select_dtypes(include=['float64', 'int64'])


# Encontre as n variáveis que possuem um valor absoluto de correlação maior que 0.5 com a variável clump_thickness, excluindo ela mesma 
# retorne os valores de forma descendente
# sempre utilize a variável data_num para receber o resultado de suas operações

def getCorrelacao(df, dfClumpThickness):
        listColumns = []
        listValues = []
        for column in df.columns:
            correlacao = df[column].corr(dfClumpThickness)
            if correlacao > 0.5:
                listColumns.append(column)
                listValues.append(correlacao)
                
        return pd.DataFrame({'columns': listColumns, 'values': listValues}).sort_values('values', ascending=False)
    
    
data_num = getCorrelacao(data_num[data_num.columns[~data_num.columns.isin(['clump_thickness'])]], data_num['clump_thickness'])

print("Existem {} variáveis correlacionadas com clump_thickness:\n{}".format(len(data_num), data_num))

Existem 5 variáveis correlacionadas com clump_thickness:
                 columns    values
1  cell_shape_uniformity  0.654632
0   cell_size_uniformity  0.644636
3        bland_chromatin  0.558924
4        normal_nucleoli  0.535773
2    single_ep_cell_size  0.522108

In [13]:
# TODO: obtendo informações sobre o dataset

# qual o tamanho médio das células para cada tipo de tumor?
print('Tamanho médio do tipo benigno: ',data[data['class']=='benign']['cell_size_uniformity'].mean(),'\n')
print('Tamanho médio do tipo maligno: ',data[data['class']=='malignant']['cell_size_uniformity'].mean(),'\n')

# qual o número máximo de mitoses em tumores benignos encontrados pelo Dr. Wong?
print('Número máximo de mitoses em tumores benignos: ', data[(data['class']=='benign') 
                                                             & (data['doctor_name']=='Dr. Wong')]['mitoses'].max())

# e qual o número máximo de mitoses em tumores malignos encontrados pelo mesmo médico?
print('\nNúmero máximo de mitoses em tumores malignos: ',data[(data['class']=='malignant') 
                                                              & (data['doctor_name']=='Dr. Wong')]['mitoses'].max())

Tamanho médio do tipo benigno:  1.3260393873085339

Tamanho médio do tipo maligno:  6.572614107883817

Número máximo de mitoses em tumores benignos:  3

Número máximo de mitoses em tumores malignos:  10

In [14]:
# TODO: filtrando os dados

# Existem dois pacientes (id) que aparecem mais que duas vezes no dataset. Retorne uma série ordenada de forma descendente que mostre o
# id do paciente bem como a quantidade de vezes que ele aparece repetido no dataset

repeated_patients = data.groupby(by='id').size().sort_values(ascending=False)
# Elimine esses dois pacientes do dataframe de modo que este contenha apenas pacientes que apareceram no máximo duas vezes
filtered_patients = repeated_patients[repeated_patients.values <= 2]
filtered_data = data[data['id'].isin(filtered_patients.index)]
filtered_data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong